body {
  margin: 0;
  max-width: 100%;
}
h1 {
  font-family: 'Paytone One', sans-serif;
  font-size: 2rem;
  color: black;
}
h3 {
  font-family: 'Alata', sans-serif;
  font-size: 1rem;
  color: black;
}
